In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
from tqdm import tqdm

In [10]:
from sqlalchemy import create_engine

# MySQL ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì •ë³´
user = 'root'
password = '1234'
host = 'localhost'
database = 'trouver'

# SQLAlchemy ì—”ì§„ ìƒì„±
engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}/{database}')

In [2]:
import tensorflow as tf
path = './dataset'

# Dataset
* rating.csv
* travel.csv
* users : ìì²´ DB ì‚¬ìš© ì˜ˆì • (MySQL)
> ì¶œì²˜ : BCì¹´ë“œ ì œì£¼ ê´€ê´‘ê° ì†Œë¹„íŒ¨í„´ ë³€í™” ë¶„ì„, 
> visitJEJU ê¸°ë°˜ ë°ì´í„° ìˆ˜ì§‘

In [3]:
os.listdir(path)

['rating.csv', 'travel.csv', 'visitjeju_data.xlsx']

In [5]:
#ì—¬í–‰ì§€ ë°ì´í„°í”„ë ˆì„
def load_ratings():
    col_name = ['placeid','title','tag']
    travel_df = pd.read_csv(os.path.join(path,"ratings.csv"),sep=',', header=None, engine='python', names=col_name)
    travel_df.head()

,placeid,contentsid,contentscd,title,regioncd_value,regioncd_label,region1cd_value,region1cd_label,region2cd_value,region2cd_label,tag
0,1,CNTS_200000000015109,c2,ìˆ²ì„ê±·ë‹¤,1,ë¶ë¶€,region1,ì œì£¼ì‹œ,12,ì• ì›”,"ì• ì›”, ì†Œí’ˆìƒµ, ê°ê·¤ëª¨ì, ì˜ë¥˜, ì—½ì„œ, ì¡í™”"
1,2,CNTS_000000000021301,c2,ì•„ì½”í•˜ë£¨,1,ë¶ë¶€,region1,ì œì£¼ì‹œ,11,ì œì£¼ì‹œë‚´,"ì‡¼í•‘,ê³µë°©,ê¸°ë…í’ˆ,ê³µìš©ì£¼ì°¨ì¥,í˜„ê¸ˆê²°ì œ,ì¹´ë“œê²°ì œ,ë¬´ë£Œ WIFI,í¸ì˜ì"
2,3,CNTS_200000000007257,c2,í’ë…„ìƒíšŒ,1,ë¶ë¶€,region1,ì œì£¼ì‹œ,15,ì¡°ì²œ,"ì‡¼í•‘,ê¸°ë…í’ˆ"
3,4,CNTS_200000000013168,c5,ì„¸ê³„ìë™ì°¨&í”¼ì•„ë…¸ë°•ë¬¼ê´€ 4th ë´„ë‚ ì˜ í–¥ì—° ë®¤ì§€ì—„ì½˜ì„œíŠ¸,4,ë‚¨ë¶€,region2,ì„œê·€í¬ì‹œ,23,ì•ˆë•,"ì¶•ì œ, ë¬¸í™”ê´€ê´‘"
4,6,CNTS_200000000014956,c4,R14,3,ì„œë¶€,region1,ì œì£¼ì‹œ,13,í•œë¦¼,"í•œë¦¼, ì›”ë ¹ë¦¬, ìŠ¤ì½˜, ë°±ë…„ì´ˆ, ì•„ì´ìŠ¤í¬ë¦¼, ì½œë“œë¸Œë£¨, í—ˆë¸Œì°¨, ìƒë”¸ê¸°ìš°ìœ ,ë°”ë‹ë¼ë¹ˆ ë¼ë–¼"

In [8]:
#ìœ ì € í‰ê°€ ë°ì´í„°í”„ë ˆì„
rating_df = pd.read_csv(path+'/rating.csv')
rating_df.head()

   age_id regioncd_value  pla_r_rate pla_r_date
0       1             ë‚¨ë¶€         5.8       1ì°¨ë…„ë„
1       1             ë‚¨ë¶€         7.4       2ì°¨ë…„ë„
2       1             ë™ë¶€         6.6       1ì°¨ë…„ë„
3       1             ë™ë¶€         8.5       2ì°¨ë…„ë„
4       1             ë¶ë¶€         7.6       1ì°¨ë…„ë„

ì„ì˜ë¡œ ì‚¬ìš©ìì˜ ë‚˜ì´ëŒ€ì— ë”°ë¼ id ë¶€ì—¬í•¨.  
[ì°¸ê³  Notion Link ğŸ”—](https://www.notion.so/jxxngxnt/44e0fcdeb8814a0ea9e12de162137637?pvs=4#cafa46a992c94de2a44dd8b375933ac6)

In [18]:
#ìœ ì € ë°ì´í„°í”„ë ˆì„
query = '''
SELECT 
    BIN_TO_UUID(user_id) as user_id ,user_name, user_phone,  
    user_birth, user_mbti, 
    user_pay, user_login_id, user_login_pw, 
    @age := FLOOR(DATEDIFF(NOW(), user_birth) / 365.25) AS age,
    CONCAT(
        CASE
            WHEN user_gender=0 THEN 'ë‚¨ì„±'
            WHEN user_gender=1 THEN 'ì—¬ì„±'
            ELSE 'etc.'
        END,
        ' ',
        CASE
            WHEN @age <=29 THEN '20ëŒ€ ì´í•˜'
            WHEN @age BETWEEN 30 AND 39 THEN '30ëŒ€'
            WHEN @age BETWEEN 40 AND 49 THEN '40ëŒ€'
            WHEN @age BETWEEN 50 AND 59 THEN '50ëŒ€'
            WHEN @age >=60 THEN '60ëŒ€ ì´ìƒ'
            ELSE 'etc.'
        END
    ) AS user_age_group
FROM user'''  # ì‹¤í–‰í•  SQL ì¿¼ë¦¬
users = pd.read_sql(query, engine)
print(users.head())

                                user_id user_name     user_phone  user_birth  \
0  d3ca4a15-2a0c-11ef-9ffb-7085c2d2eea0      test  010-0000-0000  2000-01-01

  user_mbti user_pay user_login_id user_login_pw  age user_age_group
0      ENFP  ê²°ì œì •ë³´ ì—†ìŒ          test          test   24      ë‚¨ì„± 20ëŒ€ ì´í•˜